<div id="pageloader">
  <div class="loader-item">
    <img src="<%= image_path('loading.gif') %>" alt='loader' />
  </div>
</div>

<!-- Home Section -->

<%= render :partial => "navigation", :locals => {:to_index => true} %>


<section id="blog" class="contain">

  <div class="inner blog">

    <!-- Header -->
    <div class="header">
      our blog
    </div>

    <!-- Second Header -->
    <div class="page-desc">
      Contrary to popular belief, Lorem Ipsum is not simply random text.
    </div>

    <!-- Post -->
    <div class="post">

      <!-- Post Top Date Icon -->
      <div class="contain-logo post-icon">
        <!-- Post Day -->
        <p class="day">28</p>
        <!-- Post Month -->
        <p class="month">nov</p>
      </div>

      <!-- Post img -->
      <div class="post-img">
        <a href="<%= image_path('blog/1.jpg') %>" class="zoom-button" data-rel="prettyPhoto"><i class="fa fa-search"></i></a>
        <img src="<%= image_path('blog/1.jpg') %>" alt="" />
      </div>

      <!-- Post Texts -->
      <div class="post-texts">

        <!-- Post Header -->
        <h1 class="post-head">
          At vero eos et accusamus
        </h1>

        <!-- Post Tags -->
        <div class="post-tags">

          <!-- Post Date -->
          <a class="tags">
            <i class="fa fa-clock-o"></i>
            November 28, 2013
          </a>

          <!-- Posted By -->
          <a class="tags">
            <i class="fa fa-smile-o"></i>
            Posted By Admin
          </a>

          <!-- Comments -->
          <a class="tags">
            <i class="fa fa-comment-o"></i>
            1 Comments
          </a>

        </div>

        <!-- Post Message -->
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>

        <!-- More Button -->
        <a class="btn btn-large btn-post">
          Continue Reading
          <i class="fa fa-angle-double-right"></i>
        </a>

      </div><!-- End Post Texts -->

    </div><!-- End Post -->


    <!-- Post -->
    <div class="post animated" data-animation="fadeInUp" data-animation-delay="0">

      <!-- Post Top Date Icon -->
      <div class="contain-logo post-icon">
        <!-- Post Day -->
        <p class="day">26</p>
        <!-- Post Month -->
        <p class="month">nov</p>
      </div>

      <!-- Post Slider -->
      <div class="post-slide flexslider">

        <!-- Slides -->
        <div class="post-slides">

          <div class="item active">
            <img src="<%= image_path('blog/2.jpg') %>" alt="..."/>
          </div>

          <div class="item">
            <img src="<%= image_path('blog/3.jpg') %>" alt="..."/>
          </div>

          <div class="item">
            <img src="<%= image_path('blog/4.jpg') %>" alt="..."/>
          </div>

        </div>
        <div class="clear"></div>
      </div>


      <!-- Post Texts -->
      <div class="post-texts">

        <!-- Post Header -->
        <h1 class="post-head">
          which is the same as saying through shrinking from toil and pain
        </h1>

        <!-- Post Tags -->
        <div class="post-tags">

          <!-- Post Date -->
          <a class="tags">
            <i class="fa fa-clock-o"></i>
            November 26, 2013
          </a>

          <!-- Posted By -->
          <a class="tags">
            <i class="fa fa-smile-o"></i>
            Posted By Admin
          </a>

          <!-- Comments -->
          <a class="tags">
            <i class="fa fa-comment-o"></i>
            1 Comments
          </a>

        </div>

        <!-- Post Message -->
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>

        <!-- More Button -->
        <a class="btn btn-large btn-post">
          Continue Reading
          <i class="fa fa-angle-double-right"></i>
        </a>

      </div><!-- End Post Texts -->

    </div><!-- End Post -->

    <!-- Post -->
    <div class="post animated" data-animation="fadeInUp" data-animation-delay="0">

      <!-- Post Top Date Icon -->
      <div class="contain-logo post-icon">
        <!-- Post Day -->
        <p class="day">24</p>
        <!-- Post Month -->
        <p class="month">nov</p>
      </div>

      <!-- Post Slider -->
      <div class="post-video fit-vids">
        <iframe src="http://player.vimeo.com/video/30639594?" width="400" height="225" ></iframe>
      </div>


      <!-- Post Texts -->
      <div class="post-texts">

        <!-- Post Header -->
        <h1 class="post-head">
          On the other hand, we denounce.
        </h1>

        <!-- Post Tags -->
        <div class="post-tags">

          <!-- Post Date -->
          <a class="tags">
            <i class="fa fa-clock-o"></i>
            November 24, 2013
          </a>

          <!-- Posted By -->
          <a class="tags">
            <i class="fa fa-smile-o"></i>
            Posted By Admin
          </a>

          <!-- Comments -->
          <a class="tags">
            <i class="fa fa-comment-o"></i>
            1 Comments
          </a>

        </div>

        <!-- Post Message -->
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>

        <!-- More Button -->
        <a class="btn btn-large btn-post">
          Continue Reading
          <i class="fa fa-angle-double-right"></i>
        </a>

      </div><!-- End Post Texts -->

    </div><!-- End Post -->


    <!-- Post -->
    <div class="post last-post animated" data-animation="fadeInUp" data-animation-delay="0">

      <!-- Post Texts -->
      <div class="post-texts">

        <!-- Post Header -->
        <h1 class="post-head">
          These cases are perfectly
        </h1>

        <!-- Post Tags -->
        <div class="post-tags">

          <!-- Post Date -->
          <a class="tags">
            <i class="fa fa-clock-o"></i>
            November 22, 2013
          </a>

          <!-- Posted By -->
          <a class="tags">
            <i class="fa fa-smile-o"></i>
            Posted By Admin
          </a>

          <!-- Comments -->
          <a class="tags">
            <i class="fa fa-comment-o"></i>
            1 Comments
          </a>

        </div>

        <!-- Post Message -->
        <p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        </p>

        <!-- More Button -->
        <a class="btn btn-large btn-post">
          Continue Reading
          <i class="fa fa-angle-double-right"></i>
        </a>

      </div><!-- End Post Texts -->

    </div><!-- End Post -->

    <!-- Blog Pagination -->
    <ul class="pagination right">
      <li><a href="#">&laquo;</a></li>
      <li><a href="#">1</a></li>
      <li class="active-page"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
    <div class="clear"></div>
  </div>

</section>

<%= render 'footer' %>