<div id="pageloader">
  <div class="loader-item">
    <img src="<%= image_path('loading.gif') %>" alt='loader' />
  </div>
</div>

<!-- Home Section -->
<section id="home" class="">


  <%= render 'navigation' %>

  <!-- Rev Slider -->
  <section id="slider" class="contain">

    <div class="tp-banner">
      <ul>
        <!-- SLIDE  -->
        <li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >
          <!-- MAIN IMAGE -->
          <img src="<%= image_path('rev-slider/slide1.jpg') %>"  alt="slidebg1"  data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->
          <!-- LAYER 1 -->
          <div class="tp-caption  lft customout"
               data-x="700"
               data-y="110"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1200"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <!--<p class="stext p1">Clean And</p>-->

            <h1 class="stext h1"><span>Rubyriders</span></h1>
          </div>
          <!-- Layer 2 -->
          <div class="tp-caption  skewfromrightshort customout"
               data-x="700"
               data-y="180"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="500"
               data-start="1500"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <h2 class="stext h2">Turning your ideas into beautifully executed reality <br/> by balancing:</h2>
          </div>
          <!-- Layer 3 -->
          <div class="tp-caption customin customout"
               data-x="723"
               data-y="280"
               data-customin="x:0;y:50;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="400"
               data-start="1700"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
          >
            <img src="<%= image_path('rev-slider/s1.png') %>">
          </div>
          <!-- Layer 4 -->
          <div class="tp-caption customin customout"
               data-x="723"
               data-y="335"
               data-customin="x:0;y:50;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="400"
               data-start="1850"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
          >
            <img src="<%= image_path('rev-slider/s2.png') %>">
          </div>

          <!-- Layer 5 -->
          <div class="tp-caption customin customout"
               data-x="723"
               data-y="390"
               data-customin="x:0;y:50;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="400"
               data-start="2000"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
          >
            <img src="<%= image_path('rev-slider/s3.png') %>">
          </div>

          <!-- Layer 6 -->
          <div class="tp-caption customin customout"
               data-x="780"
               data-y="280"
               data-customin="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="400"
               data-start="1700"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
          >
            <h3 class="stext h3">quality</h3>
          </div>

          <!-- Layer 7 -->
          <div class="tp-caption customin customout"
               data-x="780"
               data-y="335"
               data-customin="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="400"
               data-start="1850"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
          >
            <h3 class="stext h3">speed</h3>
          </div>

          <!-- Layer 8 -->
          <div class="tp-caption customin customout"
               data-x="780"
               data-y="390"
               data-customin="x:50;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:0;transformOrigin:50% 50%;"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="400"
               data-start="2000"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
          >
            <h3 class="stext h3">cost</h3>
          </div>
        </li>
        <!-- SLIDE  -->
        <li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800" >
          <!-- MAIN IMAGE -->
          <img src="<%= image_path('rev-slider/slide2.jpg') %>" alt="slidebg2" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">

          <!-- LAYERS -->
          <!-- Layer 1 -->
          <div class="tp-caption sft customout"
               data-x="center"
               data-y="220"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="1400"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <h4 class="stext h4">Rubyriders development</h4>
          </div>

          <!-- Layer 2 -->
          <div class="tp-caption sfb customout"
               data-x="center"
               data-y="320"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="1700"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <h5 class="stext h5">Turning your ideas into beautifully executed reality</h5>
          </div>
        </li>

        <!-- Slide -->
        <li class="revslide" data-transition="random" data-slotamount="7" data-masterspeed="800">
          <!-- MAIN IMAGE -->
          <img src="<%= image_path('rev-slider/slide3.jpg') %>" alt="slidebg3" data-bgfit="cover" data-bgposition="center top" data-bgrepeat="no-repeat">
          <!-- LAYERS -->

          <!-- Layer 1 -->
          <div class="tp-caption sfl customout"
               data-x="0"
               data-y="185"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="1200"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <h6 class="stext h6">it’s <span>ruby</span> time</h6>
          </div>

          <!-- Layer 2 -->
          <div class="tp-caption sfl customout"
               data-x="0"
               data-y="245"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="1500"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <p class="stext p5">super responsive, clean creative theme</p>
          </div>

          <!-- Layer 3 -->
          <div class="tp-caption sfb customout"
               data-x="0"
               data-y="275"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="1800"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <p class="stext p6">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praes<br/>entium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi<br/>sint occaecati
            </p>
          </div>

          <!-- Layer 4 -->
          <div class="tp-caption sfb customout not-mobile"
               data-x="0"
               data-y="345"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="2100"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <%= image_tag "rev-slider/check.png" %>
          </div>

          <!-- Layer 5 -->
          <div class="tp-caption sfb customout not-mobile"
               data-x="20"
               data-y="345"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="2150"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <p class="stext p6">Parallax Efect</p>
          </div>

          <!-- Layer 6 -->
          <div class="tp-caption sfb customout not-mobile"
               data-x="118"
               data-y="345"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="2200"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <%= image_tag "rev-slider/check.png" %>
          </div>

          <!-- Layer 7 -->
          <div class="tp-caption sfb customout not-mobile"
               data-x="138"
               data-y="345"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="2250"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <p class="stext p6">Professional Look</p>
          </div>

          <!-- Layer 8 -->
          <div class="tp-caption sfb customout not-mobile"
               data-x="260"
               data-y="345"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="2300"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <%= image_tag "rev-slider/check.png" %>
          </div>

          <!-- Layer 9 -->
          <div class="tp-caption sfb customout not-mobile"
               data-x="280"
               data-y="345"
               data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
               data-speed="900"
               data-start="2350"
               data-easing="Power4.easeOut"
               data-endspeed="500"
               data-endeasing="Power4.easeIn"
               data-captionhidden="on">
            <p class="stext p6">One Page Design</p>
          </div>

        </li>
      </ul>
    </div>
  </section>
  <!-- End Rev Slider -->

  <!-- Text Area -->
  <section id="text-area">
    <div class="inner text-area">
      <h1>welcome to <span>rubyriders.</span> professional web development.</h1>

      <a href="#about" class="button more scroll">
        Read More
      </a>

    </div>
  </section>
  <!-- End Rev Slider -->

</section>
<!-- End Home Section -->

<!-- About Section -->
<section id="about" class="contain nav-link">

  <div class="about inner">

    <!-- First Content -->
    <div class="about-content animated" data-animation="flipInY" data-animation-delay="0">

      <div class="icon top">
        <i class="fa fa-wrench "></i>
      </div>

      <div class="content-header text">maintenance</div>
      <div class="content-desc text">We are that who can deliver accurate website maintenance within a reasonable timeframe with reliable results. We are not the biggest but our service is stable, predictable and loyal for customers. As long as you can explain what you want updated or constantly being changing on your website, we can realize this for you.</div>

      <div class="icon bottom">
        <i class="fa fa-check "></i>
      </div>

    </div>

    <!-- Second Content -->
    <div class="about-content animated" data-animation="flipInY" data-animation-delay="100">

      <div class="icon top">
        <i class="fa fa-code "></i>
      </div>

      <div class="content-header text">development</div>
      <div class="content-desc text">Turn your great idea into a successful business product. We offer a full cycle application development services and solutions to numerous clients worldwide.</div>

      <div class="icon bottom">
        <i class="fa fa-check "></i>
      </div>

    </div>

    <!-- Third Content -->
    <div class="about-content animated" data-animation="flipInY" data-animation-delay="200">

      <div class="icon top">
        <i class="fa fa-comments "></i>
      </div>

      <div class="content-header text">consulting</div>
      <div class="content-desc text">We are that who can provides companies acquire new customers by optimizing their website and their entire online presence. We help to transform your site-visitors and followers into customers. Let's review your current website and fix the changes will better serve your business.</div>

      <div class="icon bottom">
        <i class="fa fa-check "></i>
      </div>

    </div>

    <!-- Fourth Content -->
    <div class="about-content animated" data-animation="flipInY" data-animation-delay="300">

      <div class="icon top">
        <i class="fa fa-users "></i>
      </div>

      <div class="content-header text">staff recruitment</div>
      <div class="content-desc text">Since our partners and personal located in several parts of the world we are able to provide your company stable, predictable and reliable service of staff recruitment in web-development industry.</div>

      <div class="icon bottom">
        <i class="fa fa-check "></i>
      </div>
    </div>

    <div class="clear"></div>

  </div><!-- End Inner div -->

</section><!-- End About Section -->

<!-- History Section -->
<section id="history" class="contain parallax1 nav-link">

  <div class="inner">

    <!-- History Top Icon -->
    <div class="contain-logo br">
      <i class="fa fa-clock-o "></i>
    </div>

    <!-- Header -->
    <div class="header white">
      company history
    </div>

    <!-- Second Header -->
    <div class="page-desc white">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    </div>

    <ul class="timeline list-unstyled">

      <!-- History Year -->
      <li class="year">2015</li>

      <li class="note animated" data-animation="fadeInRight" data-animation-delay="50">
        <h4>
          The standard chunk
        </h4>
        <p class="desc">
          This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
        </p>
							<span class="date">
								20 DEC 2013
							</span>

        <span class="arrow fa fa-play"></span>

      </li>

      <li class="note animated" data-animation="fadeInLeft" data-animation-delay="50">
        <h4>
          There are many variations of passages
        </h4>
        <p class="desc">
          This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor.
        </p>
							<span class="date">
								11 JUN 2013
							</span>

        <span class="arrow fa fa-play"></span>

      </li>

      <li class="note animated" data-animation="fadeInRight" data-animation-delay="100">
        <h4>
          Sed ut perspiciatis.
        </h4>
        <p class="desc">
          This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit a consequat.Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, quis bibendum auctor, nisi elit consequat.
        </p>
							<span class="date">
								15 MAY 2013
							</span>

        <span class="arrow fa fa-play"></span>

      </li>

      <li class="note animated" data-animation="fadeInLeft" data-animation-delay="100">
        <h4>
          Finibus Bonorum et
        </h4>
        <p class="desc">
          This is Photoshop's version  Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat.
        </p>
							<span class="date">
								08 FEB 2013
							</span>

        <span class="arrow fa fa-play"></span>

      </li>

      <!-- History Year -->
      <li class="year">2010</li>

      <li class="note animated" data-animation="fadeInLeft" data-animation-delay="150">
        <h4>
          First RoR application
        </h4>
        <p class="desc">
          A couple years later the startup we were working for ended and we were hired as part of a mid-sized desktop application company to work on new web applications. It was a bigger project with bigger budget so we hired some a few more developers and dove into Ruby on Rails for the first time.
        </p>
							<span class="date">
								SUMMER 2008
							</span>

        <span class="arrow fa fa-play"></span>

      </li>

      <li class="note animated" data-animation="fadeInRight" data-animation-delay="150">
        <h4>
          Rubyriders reference point
        </h4>
        <p class="desc">
          Rubyriders started as a group of developers working as part of a startup in a small office in Dnepropetrovsk, Ukraine in 2006 during the coldest winter there in 30 years. The manager came from San Francisco with a one way ticket and an interpreter with the goal of building an app for the company he formed with a couple other American partners.
        </p>
							<span class="date">
								WINTER 2006
							</span>

        <span class="arrow fa fa-play"></span>

      </li>

      <!-- Start icon -->
      <li class="start fa fa-bookmark"></li>

      <li class="clear"></li>

    </ul><!-- End Timeline ul -->

  </div><!-- End inner div -->

</section><!-- End History Section -->



<!-- Our Team Section -->
<section id="team" class="contain nav-link">

  <div class="inner">

    <!-- Header -->
    <div class="header ">
      Our Creative Team
    </div>

    <!-- Second Header -->
    <div class="page-desc ">
      Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
    </div>


    <div class="team-items slide-boxes">

      <div class="item animated" data-animation="flipInY" data-animation-delay="0">
        <img src="<%= image_path('team/roger.jpg') %>" alt="" class="img-circle" />
        <h3>Roger Graves</h3>
        <h4>CTO Cloverpop & Master Chief</h4>
        <p>An entrepreneur at the core and a developer at heart, Roger is the original founder of Rubyriders. CTO for Cloverpop.com, he specialises in Ruby on Rails and building amazing teams.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/in/roginc" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>


      <div class="item animated" data-animation="flipInY" data-animation-delay="100">
        <img src="<%= image_path('team/ben.jpg') %>" alt="" class="img-circle" />
        <h3>Benjamin Johnston</h3>
        <h4>Full Stack Developer & Cloverpop Co-founder</h4>
        <p>An entrepreneur at the core and a developer at heart, Roger is the original founder of Rubyriders. CTO for Cloverpop.com, he specialises in Ruby on Rails and building amazing teams.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/pub/ben-johnston/17/870/657" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>


      <div class="item animated" data-animation="flipInY" data-animation-delay="200">
        <img src="<%= image_path('team/ron.jpg') %>" alt="" class="img-circle" />
        <h3>Ron Graves</h3>
        <h4>CSS Guru</h4>
        <p>An entrepreneur at the core and a developer at heart, Roger is the original founder of Rubyriders. CTO for Cloverpop.com, he specialises in Ruby on Rails and building amazing teams.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/in/roginc" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>


      <div class="item animated" data-animation="flipInY" data-animation-delay="300">
        <img src="<%= image_path('team/andrew.jpg') %>" alt="" class="img-circle" />
        <h3>Andrew Goncharenko</h3>
        <h4>ruby wizard & front-end developer</h4>
        <p>Andrew, as part owner of Rubyriders, brings his entreprenueral spirit, leadership, and solid development practices to every project. He is in the process of transferring to San Francisco Bay area and doing project work in Ukraine.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/pub/andrew-goncharenko/7b/b48/40/" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="400">
        <img src="<%= image_path('team/artem.jpg') %>" alt="" class="img-circle" />
        <h3>Artem Suchov</h3>
        <h4>Entrepreneur & Rails Mage</h4>
        <p>Artem is founder, trainer, and manager for Kottans.org, a team of development wizards in Ukraine. He also works his Rails magic as a developer for cloverpop.com.</p>

        <div class="socials">
          <a href="https://ua.linkedin.com/in/suchov" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="500">
        <img src="<%= image_path('team/yura.jpg') %>" alt="" class="img-circle" />
        <h3>Yuriy Kurenkov</h3>
        <h4>Web Developer & CSS Master</h4>
        <p>Currently applying his skills to seedchange.com, Yura is the heart-and-soul of Rubyriders’ web design. His artful application of CSS / SASS and HTML makes every web project beautiful and functional.</p>

        <div class="socials">
          <a href="https://ua.linkedin.com/pub/yuriy-kurenkov/23/5b8/7ba" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="600">
        <img src="<%= image_path('team/elena.jpg') %>" alt="" class="img-circle" />
        <h3>Elena Newton</h3>
        <h4>Customer Experience Doyen & Front-end Developer</h4>
        <p>Her passion for understanding peoples’ needs, and bringing those insights to the forefront of product development, Elena brings customer focus to every development project. Currently living in Singapore, she does volunteer and contract development work.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/in/ea0723" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="700">
        <img src="<%= image_path('team/dima.jpg') %>" alt="" class="img-circle" />
        <h3>Dmitry Nizovtsev</h3>
        <h4>Senior Full Stack Developer & Jedi</h4>
        <p>Not only is Dima an expert in multiple development languages, he’s also an eCommerce pro. Dima is currently working with seedchange making their application interactive, interesting, and impactful.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/pub/dmitry-nizovtsev/3a/181/83a" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="800">
        <img src="<%= image_path('team/ilya.jpg') %>" alt="" class="img-circle" />
        <h3>Ilya Nechiporenko</h3>
        <h4>Full Stack Developer & Training Ninja</h4>
        <p>Ilya specialises in Rails, Javascript, and jQuery and can make any web application interactive, interesting, and impactful. He’s also responsible for onsite & remote training of new Rubyrider padawans. He is currently plying his wares for seedchange.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/in/1lyan" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="900">
        <img src="<%= image_path('team/artemk.jpg') %>" alt="" class="img-circle" />
        <h3>Artem “Aviator” Klevtsov</h3>
        <h4>Web developer, Designer & Adrenaline Addict</h4>
        <p>When he’s not diving out of airplanes or flying gliders, Artem is doing design and development work for Rubyriders. He is currently working with seedchange.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/in/artemklevtsov" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="1000">
        <img src="<%= image_path('team/vlada.jpg') %>" alt="" class="img-circle" />
        <h3>Vladislava Boiko</h3>
        <h4>Front-end Developer</h4>
        <p>Vladislava, an experienced account manager and developer, is currently applying her expertise at Decorist.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/pub/vladislava-boiko/80/10a/199" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="1100">
        <img src="<%= image_path('team/alex.jpg') %>" alt="" class="img-circle" />
        <h3>Alexander Marusik</h3>
        <h4>Python Django Developer</h4>
        <p>Alexander, our resident Python developer, is currently working with Decorist.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/pub/alexander-marusik/2b/940/744" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="1200">
        <img src="<%= image_path('team/alext.jpg') %>" alt="" class="img-circle" />
        <h3>Oleksandr Tsukur</h3>
        <h4>Front-end Developer</h4>
        <p>With a background in customer experience and hospitality, Oleksandr is helping Decorist maintain their customer focus.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/pub/oleksandr-tsukur/37/503/3a8" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="1300">
        <img src="<%= image_path('team/sergey.jpg') %>" alt="" class="img-circle" />
        <h3>Sergey Pogorelov</h3>
        <h4>Web Developer</h4>
        <p>Sergey is an outdoor enthusiast and Django, Python, .NET and Microsoft developer. Decorist is fortunate enough to have Sergey on their team.</p>

        <div class="socials">
          <a href="https://www.linkedin.com/pub/sergey-pogorelov/22/481/296" target="_blank"><i class="fa fa-linkedin-square"></i></a>
        </div>

      </div>

      <div class="item animated" data-animation="flipInY" data-animation-delay="1400">
        <img src="<%= image_path('team/noimage.jpg') %>" alt="" class="img-circle" />
        <h3>Rustem Seidaliev</h3>
        <h4>Developer</h4>
        <p>Currently developing for Decorist.</p>

        <div class="socials">
        </div>

      </div>

    </div>

  </div><!-- End inner div -->

</section><!-- End Our Team Section -->


<section id="why-us" class="contain parallax">

  <div class="inner">

    <!-- why-us Top Icon -->
    <div class="contain-logo br">
      <i class="fa fa-briefcase "></i>
    </div>

    <!-- Iphone images -->
    <div class="w-iphone animated" data-animation="fadeInLeft" data-animation-delay="0">
      <img src="<%= image_path('w-iphone.png') %>" alt="ruby-iphone">
    </div>

    <!-- accordion menu -->
    <div class="accordion" id="accordion2">

      <div class="accordion-head">Why do you choose <span> rubyriders?</span></div>

      <!-- accordion menu 1 -->
      <div class="panel">
        <div class="accordion-heading">
            <i class="fa fa-check"></i>
            We analyse your business from top to bottom to understand your needs
        </div>
      </div>

      <!-- accordion menu 2 -->
      <div class="panel">
        <div class="accordion-heading">
            <i class="fa fa-check"></i>
            Our seasoned team of developers builds your application.
        </div>
      </div>

      <!-- accordion menu 3 -->
      <div class="panel">
        <div class="accordion-heading">
            <i class="fa fa-check"></i>
            <p>We can help you locate and recruit talent developers to join your organization long-term.</p>
        </div>
      </div>

      <!-- accordion menu 4 -->
      <div class="panel last">
        <div class="accordion-heading">
            <i class="fa fa-check"></i>
            As new recruits are hired, we'll facilitate their integration into your organization.
        </div>
      </div>

      <!-- accordion menu 5 -->
      <div class="panel last">
        <div class="accordion-heading">
            <i class="fa fa-check"></i>
            We'll be there to help as your new team assumes ownership of the product
        </div>
      </div>


    </div>


    <div class="clear"></div>
  </div>

</section>


<section id="portfolio" class="contain nav-link">

  <div class="inner">

    <!-- Portfolio Top Icon -->
    <div class="contain-logo br">
      <i class="fa fa-desktop "></i>
    </div>

    <!-- Header -->
    <div class="header">
      our awesome works
    </div>

    <div class="works">

      <div class="items ">

        <div class="work col-xs-4 web photography">
          <div class="work-inner">
            <div class="work-img">
              <img src="<%= image_path('works/cloverpop_small.jpg') %>" alt=""/>
              <div class="mask">
                <a class="button zoom" href="<%= image_path('works/cloverpop_big.jpg') %>" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                <a class="button detail" href="https://www.cloverpop.com/" target="_blank"><i class="fa fa-external-link"></i></a>
              </div>
            </div>
            <div class="work-desc">
              <h4>Cloverpop</h4>
              <p>Social network for people making big decisions</p>
            </div>
          </div>
        </div>

        <div class="work col-xs-4 photography design ">
          <div class="work-inner">
            <div class="work-img">
              <img src="<%= image_path('works/seedchange_small.jpg') %>" alt=""/>
              <div class="mask">
                <a class="button zoom" href="<%= image_path('works/seedchange_big.jpg') %>"  data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                <a class="button detail" href="https://www.seedchange.com/" target="_blank"><i class="fa fa-external-link"></i></a>
              </div>
            </div>
            <div class="work-desc">
              <h4>seedchange</h4>
              <p>Professional Angel Investing</p>
            </div>
          </div>
        </div>

        <div class="work col-xs-4 web photography design ">
          <div class="work-inner">
            <div class="work-img">
              <img src="<%= image_path('works/decorist_small.jpg') %>" alt=""/>
              <div class="mask">
                <a class="button zoom" href="<%= image_path('works/decorist_big.jpg') %>" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                <a class="button detail" href="http://www.decorist.com/" target="_blank"><i class="fa fa-external-link"></i></a>
              </div>
            </div>
            <div class="work-desc">
              <h4>decorist</h4>
              <p>Home and Interior Decorating</p>
            </div>
          </div>
        </div>

        <div class="work col-xs-4 design web ">
          <div class="work-inner">
            <div class="work-img">
              <img src="<%= image_path('works/4.jpg') %>" alt=""/>
              <div class="mask">
                <a class="button zoom" href="http://vimeo.com/55945051" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                <a class="button detail"><i class="fa fa-external-link"></i></a>
              </div>
            </div>
            <div class="work-desc">
              <h4>work image</h4>
              <p>Contrary to popular belief, Lorem Ipsum</p>
            </div>
          </div>
        </div>

        <div class="work col-xs-4 design photography ">
          <div class="work-inner">
            <div class="work-img">
              <img src="<%= image_path('works/5.jpg') %>" alt=""/>
              <div class="mask">
                <a class="button zoom" href="<%= image_path('works/b5.jpg') %>" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                <a class="button detail"><i class="fa fa-external-link"></i></a>
              </div>
            </div>
            <div class="work-desc">
              <h4>work image</h4>
              <p>Contrary to popular belief, Lorem Ipsum</p>
            </div>
          </div>
        </div>

        <div class="work col-xs-4 web branding ">
          <div class="work-inner">
            <div class="work-img">
              <img src="<%= image_path('works/6.jpg') %>" alt=""/>
              <div class="mask">
                <a class="button zoom" href="<%= image_path('works/b6.jpg') %>" data-rel="prettyPhoto[gallery]"><i class="fa fa-search"></i></a>
                <a class="button detail"><i class="fa fa-external-link"></i></a>
              </div>
            </div>
            <div class="work-desc">
              <h4>work image</h4>
              <p>Contrary to popular belief, Lorem Ipsum</p>
            </div>
          </div>
        </div>

        <div class="clear"></div>

      </div>

    </div>

  </div>

</section>


<section id="technologies" class="contain nav-link">
  <div class="services bg parallax2">
    <div class="inner services">

      <!-- why-us Top Icon -->
      <div class="contain-logo br">
        <i class="fa fa-cogs "></i>
      </div>

      <!-- Header -->
      <div class="header">
        Technologies that we use
      </div>

      <!-- Second Header -->
      <div class="page-desc">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      </div>

      <ul class="service-contents slide-boxes">

        <li class="service box animated" data-animation="flipInY" data-animation-delay="0">
          <a href="http://www.w3.org/TR/2001/WD-css3-roadmap-20010523/" class="service-logo" target="_blank">
            <i class="fa fa-css3"></i>
          </a>
          <h3>CSS3</h3>
          <p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
        </li>
        <li class="service box animated" data-animation="flipInY" data-animation-delay="200">
          <a href="http://www.w3.org/TR/html51/" class="service-logo" target="_blank">
            <i class="fa fa-html5"></i>
          </a>
          <h3>HTML5</h3>
          <p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
        </li>
        <li class="service box animated" data-animation="flipInY" data-animation-delay="400">
          <a href="https://www.ruby-lang.org/" class="service-logo" target="_blank">
            <i class="lang-icon ruby-lang"></i>
          </a>
          <h3>Ruby</h3>
          <p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
        </li>
        <li class="service box animated" data-animation="flipInY" data-animation-delay="600">
          <a href="http://nodejs.org/" class="service-logo" target="_blank">
            <i class="lang-icon nodejs-lang"></i>
          </a>
          <h3>Node.js</h3>
          <p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
        </li>
        <li class="service box animated" data-animation="flipInY" data-animation-delay="800">
          <a href="http://php.net/" class="service-logo" target="_blank">
            <i class="lang-icon php-lang"></i>
          </a>
          <h3>PHP</h3>
          <p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
        </li>
        <li class="service box animated" data-animation="flipInY" data-animation-delay="1000">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="service-logo" target="_blank">
            <i class="lang-icon js-lang"></i>
          </a>
          <h3>Javascript</h3>
          <p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
        </li>
        <li class="service box animated" data-animation="flipInY" data-animation-delay="1000">
          <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript" class="service-logo" target="_blank">
            <i class="lang-icon python-lang"></i>
          </a>
          <h3>python</h3>
          <p>Contrary to popular belief, not simply random text. It has roots in a of Latin from 45 BC, 2000 years old.</p>
        </li>


      </ul>

      <div class="clear"></div>


    </div><!-- End Services Inner 1 -->

  </div><!-- End Services BG -->

  <div class="inner services bottom-bg">

    <div id="carousel-example-generic" class="carousel slide slide-s" data-ride="carousel">
      <!-- Indicators -->


      <!-- Wrapper for slides -->
      <div class="carousel-inner service-text">
        <div class="item active">
          <div class="service-bottom-text">
            responsive and  <span>clean</span>  design
          </div>
        </div>

        <div class="item">
          <div class="service-bottom-text">
            modern and <span>creative</span> design
          </div>
        </div>

        <div class="item">
          <div class="service-bottom-text">
            it's ruby <span>time</span>
          </div>
        </div>

      </div>

      <!-- Controls -->
      <a class="left carousel-control s-controls" href="#carousel-example-generic" data-slide="prev">
      </a>
      <a class="right carousel-control s-controls" href="#carousel-example-generic" data-slide="next">
      </a>
    </div>

  </div><!-- End Services Inner 2 -->
</section>	<!-- End Services Section -->

<section id="pricing" class="contain nav-link">
  <div class="prices bg parallax2">
    <div class="inner prices">

      <!-- History Top Icon -->
      <div class="contain-logo br">
        <i class="fa fa-table "></i>
      </div>

      <!-- Header -->
      <div class="header ">
        cooperation options
      </div>

      <!-- Second Header -->
      <div class="page-desc ">
        Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.
      </div>

      <div class="packages">
        <!-- First Package -->
        <div class="package first animated" data-animation="flipInY" data-animation-delay="100">
          <!-- Package Header -->
          <h1>Short-Term Project</h1>
          <!-- Package Properties -->
          <ol>
            <li>Need an <span>MVP</span>?</li>
            <li>Full or Part Time Developers</li>
            <li>for 1 to 3 Months</li>
          </ol>
          <!-- Package Button -->
          <a class="p-btn" href="mailto:contact@rubyriders.com?subject=short-term project cooperation">Click Here</a>
        </div>

        <!-- Second Package -->
        <div class="package animated" data-animation="flipInY" data-animation-delay="300">
          <!-- Package Header -->
          <h1>Mid-Term Project</h1>
          <!-- Package Properties -->
          <ol>
            <li>Ready for <span>Production</span>?</li>
            <li>Full Time Devs</li>
            <li>3 to 9 Months</li>
          </ol>
          <!-- Package Button -->
          <a class="p-btn" href="mailto:contact@rubyriders.com?subject=mid-term project cooperation">Click Here</a>
        </div>

        <!-- Third Package -->
        <div class="package active animated" data-animation="flipInY" data-animation-delay="500">
          <!-- Package Header -->
          <h1>Long-Term Project </h1>
          <!-- Package Properties -->
          <ol>
            <li>Need App <span>Maintenance</span>?</li>
            <li><span>Unlimited </span>File Access</li>
            <li><span>Free </span>Appointments</li>
          </ol>
          <!-- Package Button -->
          <a class="p-btn" href="mailto:contact@rubyriders.com?subject=long-term project cooperation">Click Here</a>
        </div>

        <!-- Fourth Package -->
        <div class="package last animated" data-animation="flipInY" data-animation-delay="700">
          <!-- Package Header -->
          <h1>Training & Recruiting</h1>
          <!-- Package Properties -->
          <ol>
            <li>Need Developers?</li>
            <li>Find <span>Talent</span></li>
            <li><span>Train </span>for Integration</li>
          </ol>
          <!-- Package Button -->
          <a class="p-btn" href="mailto:contact@rubyriders.com?subject=training cooperation">Click Here</a>
        </div>

        <div class="clear"></div>
      </div><!-- End Packages -->
    </div><!-- End inner div -->
  </div>
</section><!-- End Prices Section -->


<!-- Subscribe Section -->
<section id="subscribe" class="contain">

  <div class="inner subscribe">

    <!--Subscribe Left -->
    <div class="col-xs-7 subs left">

      <!--Subscribe Left Icon -->
      <a class="left-icon">
        <i class="fa fa-envelope-o"></i>
      </a>

      <!--Subscribe Head and Texts -->
      <div class="text">
        <h1>
          subscribe to our <span> newsletter ?</span>
        </h1>
        <p>
          This is Photoshop's version  of Lorem Ipsum. Proin gravida.
        </p>
      </div>
      <div class="clear"></div>
    </div>

    <!--Subscribe Right -->
    <div class="col-xs-5 subs right">
      <form id="subscribe-mail" method="post" action="/subscribe">
        <!--Subscribe input -->
        <input type="email" class="subscribe-mail" required="required" id="e-mail" name="email" placeholder="Your mail adress"/>
        <!--Subscribe Button -->
        <button type="submit" class="subscribe-btn subs">subscribe</button>
      </form>
    </div>

    <div class="clear"></div>
  </div><!-- End Subscribe inner -->

</section><!-- End Subscribe Section -->

<!--Contact Section -->
<section id="contact" class="contain nav-link">


  <!--Contact Form -->
  <div class="contact-form">

    <form id="contact-us" method="post" action="/contact_us">

      <!--Contact Header -->
      <h1 class="contact-us">Contact Us</h1>
      <!-- Name Input -->
      <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
      <!-- Email Input -->
      <input type="email" name="email" id="email" required="required" class="form" placeholder="Email" />
      <!-- Subject Input -->
      <input type="text" name="subject" id="subject" class="form" placeholder="Subject" />
      <!-- Message Area -->
      <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
      <!-- Send Button -->
      <button type="submit" id="submit" name="submit" class="form-btn"><i class="fa fa-envelope"></i></button>

    </form>

  </div><!-- End Contact Form -->

  <!-- Contact Top Icon -->
  <div class="contain-logo contact-logo">
    <i class="fa fa-map-marker "></i>
  </div>

  <!-- Google Map -->
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
  <div id="map"></div>
  <!-- End Google Map -->

</section><!-- End Contact Section -->

<%= render 'footer' %>